<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cirrious.FluentLayout" version="2.9.0" targetFramework="xamarinios10" />
  <package id="FlexiMvvm.Bindings.PreRelease" version="0.10.8-prerelease" targetFramework="xamarinios10" />
  <package id="FlexiMvvm.Collections.PreRelease" version="0.10.8-prerelease" targetFramework="xamarinios10" />
  <package id="FlexiMvvm.Common.PreRelease" version="0.10.8-prerelease" targetFramework="xamarinios10" />
  <package id="FlexiMvvm.Essentials.PreRelease" version="0.10.8-prerelease" targetFramework="xamarinios10" />
  <package id="FlexiMvvm.FullStack.PreRelease" version="0.10.8-prerelease" targetFramework="xamarinios10" />
  <package id="FlexiMvvm.Lifecycle.PreRelease" version="0.10.8-prerelease" targetFramework="xamarinios10" />
</packages>